body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    margin: auto;
}

.column {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.square {
    flex: 1 0 auto;
}

button {
    margin: auto;
    margin-bottom: 8px;
}